 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .loader{
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(255, 255, 255, 0.5);
  }

  .loader-center{
  	position: fixed;
  	top: 50%;
  	left: 50%;
  }

  main {
    flex: 1 0 auto;
  }
 